<h1>Hello! I'm <span style="color: #FFA500;">Ahmad</span></h1>
<h2><span style="color: #FFA500;">Backend</span> Developer </h2>

<div class="links">
    <a href="https://www.linkedin.com/in/ahmadhamarsheh" target="_blank">
        <img src="assets/links/linkedin2.png" alt>
        <div class="hidden-label">LinkedIn</div>
    </a>
    <a href="https://www.github.com/ahmadhamarsheh" target="_blank">
        <img src="assets/links/github2.png" alt>
        <div class="hidden-label">GitHub</div>
    </a>
    <a href="mailto:ahmadhamarshe@outlook.com">
        <img src="assets/links/email.png" alt style="height: 116px; width: 116px;">
        <div class="hidden-label" style="margin-top: -10px;">Outlook</div>
    </a>
</div>