<section class="dark-section">
    <h2>Experince</h2>
    <div class="jobs">
        <div class="job">
            <h3>Backend & Integration Engineer</h3>
            <h4>JAWWAL</h4>
            <p>
                As a .NET Backend Integration Engineer at Jawwal, the leading telecommunications provider in Palestine, I have contributed to critical projects that enhance customer experience and internal operations. My work includes developing and optimizing high-traffic applications, such as the Jawwal App - HESABI, which serves over 500,000 users, along with several internal enterprise solutions aimed at improving business processes. My expertise spans API development, system migration, and performance optimization, ensuring scalable and secure solutions.
            </p>
            <ul>
                <li>Migrated legacy systems from Java to .NET, reducing system downtime by 30% and improving performance.</li>
                <li>Optimized API endpoints, leading to a 25% increase in response speed and enhancing scalability.</li>
                <li>Designed secure and efficient APIs serving 100,000+ users, adhering to best practices in architecture and security.</li>
                <li>Developed comprehensive API documentation, improving onboarding efficiency for developers and stakeholders.</li>
                <li>Conducted unit testing on 100+ test cases and collaborated with frontend and QA teams, ensuring seamless software delivery.</li>
            </ul>
        </div>
        <div class="job">
            <h3>Backend Developer</h3>
            <h4>FinPrivado</h4>
            <p>
                As a Backend Developer for FinPrivado, I worked with a U.S.-based client to develop Muny-Muny, a comprehensive fintech application designed to empower users with advanced budgeting, transaction tracking, and financial planning tools. My role evolved from understanding business logic to building and optimizing secure, scalable APIs that handle thousands of transactions daily. The platform integrates compliance standards, security protocols, and data privacy measures to ensure financial integrity while offering users seamless financial management solutions.
            </p>
            <ul>
                <li>Built secure, scalable backend solutions for fintech applications using .NET and Laravel, handling thousands of transactions daily.</li>
                <li>Designed and optimized API endpoints, improving business logic execution and reducing API latency by 40%.</li>
                <li>Integrated compliance standards and advanced security measures, ensuring 100% adherence to financial regulations.</li>
                <li>Collaborated with cross-functional teams to enhance system reliability and reduce downtime.</li>
                <li>Conducted extensive testing, identifying and resolving 90% of critical issues before deployment.</li>
            </ul>
            
        </div>
    </div>
</section>